@import "new";
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font: 'Montserrat';
$font_bold: 'Montserrat Bold';
@font-face {

    font-family: Montserrat;
    src: url(head.ttf);
}

@font-face {

    font-family: Montserrat Bold;
    src: url(head_bold.ttf);
}

@font-face {

    font-family: Campton;
    src: url(gt.ttf);
}


@font-face {
    font-family: 'fontello';
    src: url('./font/fontello.eot?85958074');
    src: url('./font/fontello.eot?85958074#iefix') format('embedded-opentype'),
    url('./font/fontello.woff?85958074') format('woff'),
    url('./font/fontello.ttf?85958074') format('truetype'),
    url('./font/fontello.svg?85958074#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-size: 100%;
}

body {
    background: #000;
    font-family: PT Mono;
    --color-text: #8c8c8c;
    --color-background: #000;
    --color-link: #e5d338;
    --color-link-hover: #8c8c8c;
}

.seventeen {
    position: absolute;
    font-size: 30rem;
    line-height: 0;
    right: 120px;
    font-weight: normal;
    color: rgba(#fff, 0.07111);
    font-family: Lato;
    letter-spacing: -90px;
}

.main {
    background: url(bg2.gif) center right no-repeat fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: table;
    .centered {
        background: rgba(#000, 0.9);
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        h1 {
            font-size: 17rem;
            letter-spacing: -35px;
            font-family: $font;
            text-shadow: -1px -1px 0 #fff,
            1px -1px 0 #fff,
            -1px 1px 0 #fff,
            1px 1px 0 #fff;

            line-height: 0;
            animation: glitch1 2.5s infinite;
        }
        h1:nth-child(2) {
            color: red;
            animation: glitch2 .5s infinite;
        }

        h1:nth-child(3) {
            color: blue;
            animation: glitch3 2.5s infinite;
        }
        @keyframes glitch1 {
            0% {
                transform: none;
                opacity: 1;
            }
            7% {
                transform: skew(-0.5deg, -0.9deg);
                opacity: 1;
            }
            10% {
                transform: none;
                opacity: 1;
            }
            27% {
                transform: none;
                opacity: 1;
            }
            30% {
                transform: skew(0.8deg, -0.1deg);
                opacity: 1;
            }
            35% {
                transform: none;
                opacity: 1;
            }
            52% {
                transform: none;
                opacity: 1;
            }
            55% {
                transform: skew(-1deg, 0.2deg);
                opacity: 1;
            }
            50% {
                transform: none;
                opacity: 1;
            }
            72% {
                transform: none;
                opacity: 1;
            }
            75% {
                transform: skew(0.4deg, 1deg);
                opacity: 1;
            }
            80% {
                transform: none;
                opacity: 1;
            }
            100% {
                transform: none;
                opacity: 1;
            }
        }

        @keyframes glitch2 {
            0% {
                transform: none;
                opacity: 0;
            }
            7% {
                transform: translate(-12px, -3px);
                opacity: 1;
            }
            10% {
                transform: none;
                opacity: 0;
            }
            27% {
                transform: none;
                opacity: 0;
            }
            30% {
                transform: translate(-10px, -12px);
                opacity: 1;
            }
            35% {
                transform: none;
                opacity: 1;
            }
            52% {
                transform: none;
                opacity: 1;
            }
            55% {
                transform: translate(-10px, -1px);
                opacity: 1;
            }
            50% {
                transform: none;
                opacity: 1;
            }
            72% {
                transform: none;
                opacity: 1;
            }
            75% {
                transform: translate(-12px, -6px);
                opacity: 1;
            }
            80% {
                transform: none;
                opacity: 0;
            }
            100% {
                transform: none;
                opacity: 0;
            }
        }

        @keyframes glitch3 {
            0% {
                transform: none;
                opacity: 0;
            }
            7% {
                transform: translate(-2px, 3px);
                opacity: 0.5;
            }
            10% {
                transform: none;
                opacity: 0;
            }
            27% {
                transform: none;
                opacity: 0;
            }
            30% {
                transform: translate(5px, -2px);
                opacity: 0.5;
            }
            35% {
                transform: none;
                opacity: 0;
            }
            52% {
                transform: none;
                opacity: 0;
            }
            55% {
                transform: translate(5px, 1px);
                opacity: 0.5;
            }
            50% {
                transform: none;
                opacity: 0;
            }
            72% {
                transform: none;
                opacity: 0;
            }
            75% {
                transform: translate(-2px, 6px);
                opacity: 0.5;
            }
            80% {
                transform: none;
                opacity: 0;
            }
            100% {
                transform: none;
                opacity: 0;
            }
        }
        .bottom {
            font-family: PT Mono;
            position: absolute;
            bottom: 0;
            width: 100%;
            .copy {
                position: absolute;
                padding: 20px 10px;
                letter-spacing: -.2px;
                color: rgba(#fff, 0.444);
            }

            .right {
                position: absolute;
                padding: 20px 10px;
                color: #fff;
            }
        }
    }
}

#nav-icon1 {
    z-index: 1000;
    position: fixed;
    left: 0;
    bottom: 0;
}

#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
    width: 30px;
    height: 45px;
    margin: 10px 15px;

    transform: rotate(0deg);

    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;

    transform: rotate(0deg);

    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 9px;
}

#nav-icon1 span:nth-child(3) {
    top: 18px;
}

#nav-icon1.open span:nth-child(1) {
    top: 18px;

    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 18px;

    transform: rotate(-135deg);
}

// About
.about {
    height: 100vh;
    width: 100%;
    display: table;
    .centered {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        h1 {
            background: #5f2c82;
            font-family: $font_bold;
            letter-spacing: -.02em;
            font-size: 5rem;
            background: #fc4a1a;
            font-weight: normal;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #f7b733, #fc4a1a);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            span {
                padding-bottom: 6px;

                border-bottom: 5px solid rgba(#fff, 0.13);
            }
        }
        p.lead {
            font-size: 1.4rem;
            line-height: 1.4;
            color: rgba(#fff, 0.4);
            font-family: Campton;
            letter-spacing: -.2px;
            padding: 1.6rem 16rem 0 16rem;
        }
    }
}

.social--links {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 35px 15px;
    color: #fff;
    ul.inline {
        list-style: none;
        li {
            font-family: "fontello";
            font-style: normal;
            font-weight: normal;
            speak: none;
            display: inline-block;
            text-decoration: inherit;
            width: 1em;
            margin-right: .2em;
            text-align: center;
            font-variant: normal;
            text-transform: none;
            line-height: 1em;
            margin-left: .2em;
            font-size: 120%;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-shadow: -2px -2px 0 red,
            2px 2px 0 blue,
            0 0 13px rgba(red, 0.55),
            0 0 12px rgba(blue, 0.45);
            display: inline;
        }
    }
}

.yellow {
    animation-name: yello;
    animation-duration: 1.5s;
    background: #040404; // background: #000;
    // background: #FCF8F2;
}

.kuku_button {
    position: relative; // opacity: .6;
    color: rgba(#fff, 0.8);
    font-family: PT Mono;
    font-size: .9rem;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 13px 25px;
    background: transparent;
    border: 2px solid #fff; // box-shadow: 3px 3px 0 rgba(#fff, .5); 
    top: -3px;
    right: 3px;
    margin-right: 10px;
    &:hover {
        background: rgba(#fff, 0);
        color: #fff;
        box-shadow: 3px 3px 0 rgba(#fff, 0);
        opacity: 1;
    }
}

.blacc {
    background: rgba(#fff, 0.888);
    color: #222;
}

@keyframes yello {
    0% {
        background: #000;
    }

    100% {
        background: #040404;
    }
}

.divider {
    width: 100%;
    height: 40vh;
    display: table;
    .overlay {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        background: rgba(#000, 0.7);
    }
}

.uno {
    background: url(bg1.gif) center center no-repeat fixed;
    background-size: cover;
}
