.c-navigation {
    position: absolute;
    top: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 40px;
    height: 100%;
    text-transform: lowercase;
    transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 999;
}

.c-navigation__top {
    -ms-flex: 1;
    flex: 1;
}

a {
    color: currentColor;
    text-decoration: none;
    transition: color 350ms cubic-bezier(0.23, 1, 0.32, 1);
}

.c-navigation__logo {
    border: 0;
    display: block;
    width: 100px;
}

.c-navigation__link--menu {
    display: none;
}

.c-navigation__link {
    border: 0;
    color: #fff;
    display: block;
    font-family: PT Mono;
    font-size: 0.88889em;
}

.c-navigation__link+.c-navigation__link {
    margin-top: 10px;
}

.c-navigation__link--share {
    display: none;
}

.c-navigation__top::after {
    clear: both;
    content: "";
    display: block;
}

.c-navigation__middle {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 2;
    flex-grow: 2;
}

.c-navigation__links-group+.c-navigation__links-group {
    margin-top: 20px;
}

.c-navigation__bottom {
    -ms-flex-align: end;
    align-items: flex-end;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
}

.c-navigation__share {
    position: fixed;
    top: 0;
    right: 0;
    padding: 40px;
    text-transform: lowercase;
    transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 999;
}

.c-navigation__share .c-navigation__link {
    color: #aaa;
}

.u-side-padding {
    padding-left: 250px;
}

.c-intro {
    height: 100vh;
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.c-intro__text-wrap {
    margin-right: auto;
    margin-left: auto;
    max-width: 1080px;
    width: 100%;
}

.c-landing [data-animate].c-intro__date {
    -webkit-animation: opacity 600ms forwards cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    animation: opacity 600ms forwards cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    // opacity: 0;
}

.c-intro__date {
    font-size: 1.26563em;
    margin-bottom: 15px;
    z-index: 100;
    font-family: Montserrat;
    color: rgba(#fff, .5);
    text-transform: none;
}
.c-intro__heading {
    width: 600px;
}
.c-block-heading {
    line-height: 0;
    white-space: pre-line;
}
h1, .c-cta__paragraph, .c-cta__title, .c-share__title {
    font-size: 2.56578em;
}
.c-landing [data-animate] .c-block-heading__line.is-animated {
    opacity: 1;
}

.c-block-heading__line {
    padding-right: 15px;
    padding-left: 15px;
    color: #fff;
    letter-spacing: .5px;
    font-family: Montserrat;
    display: inline-block;
    line-height: 1.6;
    position: relative;
    transition: all 800ms cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
}

.c-block-heading__line+.c-block-heading__line {
    margin-top: 5px;
}	

.c-block-heading__line--purple {
    background-color: #7500D8;
}

.c-block-heading__line--coral {
    background: #EB484D;
}

button, [type='button'], [type='reset'], [type='submit'], .c-button {
    // font-family: "HKGrotesk", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
    font-size: 0.88889em;
    font-family: PT Mono;
    font-weight: 700;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    padding: 20px 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #EB484D;
    border: 0;
    color: #fff;
    z-index: 1;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    outline: 0;
    text-align: center;
    text-decoration: none;
    transition: background-color 350ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.c-intro__cta {
    margin-top: 5px;
}

.c-button--white {
    background-color: #fff;
    color: #111;
}
.c-button__icon {
    fill: currentColor;
    margin-left: 15px;
    width: 8px;
}

.c-intro__image {
    position: absolute;
    top: 50%;
    right: 0;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    max-height: 85%;
    max-width: 90%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 0;
}

.c-landing [data-animate].c-intro__image.is-animated, .c-landing [data-animate].c-intro__image-credit.is-animated {
    opacity: 1;
}

.c-intro__image img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    position: relative;
}

.c-intro__image-credit {
    position: absolute;
    right: 40px;
    bottom: 40px;
    color: #888;
    display: block;
    font-size: 11px;
}