*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .35s ease-in-out; }

body {
  background: #000; }

.hero {
  height: 100vh;
  animation-delay: .2s;
  width: 100%;
  z-index: 10;
  display: table; }
  .hero .row {
    display: table-row;
    width: 100%; }
    .hero .row .element {
      display: table-cell;
      opacity: .3;
      width: 25%;
      cursor: pointer; }
      .hero .row .element:hover {
        opacity: 1 !important;
        background-position: center; }

.uno {
  background: url(../img/CN.png) left center no-repeat;
  background-size: cover; }

.dos {
  background: url(../img/GoT.png) left center no-repeat;
  background-size: cover; }

.tres {
  background: url(../img/MDC.png) left center no-repeat;
  background-size: cover; }

.quat {
  background: url(../img/hp.jpg) left center no-repeat;
  background-size: cover; }

@font-face {
  font-family: "Montserrat";
  src: url(head_bold.ttf); }
@font-face {
  font-family: "GT Walsheim";
  src: url(gt.ttf); }
.overlay {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  font-family: GT Walsheim;
  color: #fff;
  opacity: 0;
  z-index: -100;
  display: table; }
  .overlay .centered {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 15rem;
    font-size: 2.5rem; }

.shown {
  opacity: 1 !important;
  z-index: 100 !important; }

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  border-bottom: 2px solid rgba(255, 255, 255, 0); }
  .close:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.6); }
