*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .35s ease-in-out; }

body {
  background: #000; }

.hero {
  height: 100vh;
  width: 100%;
  display: table; }
  .hero .row {
    display: table-row;
    width: 100%; }
    .hero .row .element {
      display: table-cell;
      opacity: .3;
      width: 25%;
      cursor: pointer; }
      .hero .row .element:hover {
        opacity: 1;
        background-position: left; }

.uno {
  background: url(../img/CN.png) center center no-repeat;
  background-size: cover; }

.dos {
  background: url(../img/GoT.png) center center no-repeat;
  background-size: cover; }

.tres {
  background: url(../img/MDC.png) center center no-repeat;
  background-size: cover; }

.quat {
  background: url(../img/hp.jpg) center center no-repeat;
  background-size: cover; }
