* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  padding: 0; }

body {
  background: #000;
  margin: 0; }

.row {
  display: table;
  height: calc(100vh/3);
  width: 100%; }

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  border: 2px solid #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: calc(100vh/3); }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; }

.col-1 {
  background: url(../img/spons/1.png) center center no-repeat;
  background-size: 30%; }
  .col-1:hover {
    background-size: 60%;
    -webkit-filter: sepia(100%);
    filter: sepia(100%); }

.col-2 {
  background: url(../img/spons/2.png) center center no-repeat;
  background-size: 30%; }
  .col-2:hover {
    background-size: 60%;
    -webkit-filter: sepia(100%);
    filter: sepia(100%); }

.col-3 {
  background: url(../img/spons/3.png) center center no-repeat;
  background-size: 30%; }
  .col-3:hover {
    background-size: 60%;
    -webkit-filter: sepia(100%);
    filter: sepia(100%); }

.col-4 {
  background: url(../img/spons/4.png) center center no-repeat;
  background-size: 30%; }
  .col-4:hover {
    background-size: 60%;
    -webkit-filter: sepia(100%);
    filter: sepia(100%); }

.col-5 {
  background: url(../img/spons/5.png) center center no-repeat;
  background-size: 30%; }
  .col-5:hover {
    background-size: 60%;
    -webkit-filter: sepia(100%);
    filter: sepia(100%); }

.col-6 {
  background: url(../img/spons/6.png) center center no-repeat;
  background-size: 30%; }
  .col-6:hover {
    background-size: 60%;
    -webkit-filter: sepia(100%);
    filter: sepia(100%); }

.col-7 {
  background: url(../img/spons/7.png) center center no-repeat;
  background-size: 30%; }
  .col-7:hover {
    background-size: 60%;
    -webkit-filter: sepia(100%);
    filter: sepia(100%); }

.col-8 {
  background: url(../img/spons/8.png) center center no-repeat;
  background-size: 30%; }
  .col-8:hover {
    background-size: 60%;
    -webkit-filter: sepia(100%);
    filter: sepia(100%); }

.col-9 {
  background: url(../img/spons/9.png) center center no-repeat;
  background-size: 30%; }
  .col-9:hover {
    background-size: 60%;
    -webkit-filter: sepia(100%);
    filter: sepia(100%); }

.col-10 {
  background: url(../img/spons/10.png) center center no-repeat;
  background-size: 30%; }
  .col-10:hover {
    background-size: 60%;
    -webkit-filter: sepia(100%);
    filter: sepia(100%); }

.col-11 {
  background: url(../img/spons/11.png) center center no-repeat;
  background-size: 30%; }
  .col-11:hover {
    background-size: 60%;
    -webkit-filter: sepia(100%);
    filter: sepia(100%); }

@font-face {
  src: url(gt.ttf);
  font-family: 'GT'; }

h1 > a {
  font-family: GT;
  color: #999;
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0); }
  h1 > a:hover {
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3333); }
