	
@font-face {
	font-family: "Montserrat";
	src:url(head_bold.ttf);
}

@font-face {
	font-family: "GT Walsheim";
	src:url(gt.ttf);
}

.overlay--menu
	background rgba(#f39c12, .8)
.menu__link
	letter-spacing -1px
.kuku-header__title
	font-family Montserrat
	letter-spacing 0px
	font-size 1.5rem
