@font-face {
	src: url(../css/gt.ttf);
	font-family: GT;
}
@font-face {
	src: url(head.ttf);
	font-family: Mon;
}
$primary-font: Mon;
$secondary-font: GT;
.cd-project-info {
	display: none;
	padding: 4em 0;
	font-family: $secondary-font;
	background-color: #101010 !important;
	// color: tint(#000, 40%);

	.content-visible & {
		display: block;
	}

	p {
		font-size: 1.333em;
		width: 90%;
		color: rgba(#fff, 0.7) !important;
		max-width: 800px;
		margin: 0 auto;
		line-height: 1.3333333;
		.header {
			font-size: 2em !important;
			color: #f3e5b1 !important;
			border-bottom: 3px solid rgba(#fff, 0.1)!important;
			font-family: $primary-font;
			// letter-spacing: -2px;
		}
		.rules--item {
			display: block;
			margin-bottom: 10px;
		}
	}
}
.cd-projects-container .scroll {
	display:none !important;
}

.mail--link {
	transition: all .35s ease-in-out;
	line-height: 1.5;
	color: #f35;
	opacity: 0.6;
	border-bottom: 2px solid rgba(#222, 0.2);
	&:hover {
		opacity: 1;
		color: #fff;
		border-bottom: 2px solid rgba(#f35, 0.2);
	}
}
.register--button {
	background: #f35;
	color: #fff;
	transition: all .15s ease-in-out;
	border-radius: 5px;
	font-size: 1.8rem;
	letter-spacing: 2px;
	opacity: .7;	
	position: relative;
	top: -7px;
	padding: 15px 35px;
	box-shadow: 0 7px rgba(#f35, 0.7);
	&:hover {
		top: -5px;
		box-shadow: 0 5px rgba(#f35, 0.7);
		opacity: 1;
		background: rgba(#f35, 0.9);
	}
	&:active {
		top: -1px;
		opacity: 1;
		box-shadow: 0 1px rgba(#f35, 0.7);
		background: rgba(#f35, 0.9);
	}
}