*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all .35s ease-in-out;
}
body {
	background: #000;
}
.hero {
	height: 100vh;
	width: 100%;
	display: table;
	.row {
		display: table-row;
		width: 100%;
		.element {
			display: table-cell;
			opacity: .3;
			width: 25%;
			cursor: pointer;
			&:hover {
				opacity: 1 !important;
				background-position: left;
			}
		}
	}
}
.uno {
	background: url(../img/CN.png) right center no-repeat;
	background-size: cover;
	animation-delay: 1s;
}
.dos {
	background: url(../img/GoT.png) center center no-repeat;
	animation-delay: 1.5s;
	background-size: cover;
}

.tres {
	animation-delay: 2s;
	background: url(../img/MDC.png) right center no-repeat;
	background-size: cover;
}

.quat {
	animation-delay: 2.5s;
	background: url(../img/hp.jpg) right center no-repeat;
	background-size: cover;
}