* {
    box-sizing: border-box;
    margin: 0;
    transition: all .35s ease-in-out;
    padding: 0;
}

body {
	background: #000;
    margin: 0;
}
.row {
    display: table;
    height: calc(100vh/3);
    width: 100%;
}
.column {
    float: left;
    width: 33.33%;
    border: 2px solid rgba(#fff, 0.333333);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: calc(100vh/3);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@for $i from 1 through 11 {
	.col-#{$i} {
		background: url(../img/spons/#{$i}.png) center center no-repeat;
		background-size: 30%;
		&:hover {
			background-size: 50%;
			filter: sepia(100%);
			// background: 
		}
	}
}
@font-face {
	src: url(gt.ttf);
	font-family: 'GT';
}
h1 > a {
	font-family: GT;
	color: #999;
	text-decoration: none;
	border-bottom: 2px solid rgba(#fff, 0);

	&:hover {
		color: #fff;
		border-bottom: 2px solid rgba(#fff, 0.3333);

	}
}